<div class="sidenav_container"  [@onSideNavChange]="sideNavState ? 'open' : 'close'">
  <div fxLayout="column" fxLayoutGap="10px" style="height: 100%;">
    <div>
      <mat-nav-list>
        <a 
          mat-list-item 
          *ngFor="let EmailFilters of EmailFilters"
          (click)="navigateToPage(EmailFilters.filter)">
          <mat-icon class="nav-item-icon">
            {{EmailFilters.materialIcon}}
          </mat-icon>
            {{EmailFilters.displayName}}
        </a>
      </mat-nav-list>
    </div>
  </div>
</div>