<div class="contact-container" fxLayoutGap="20px">
    <div>
    <form [formGroup]="form">
      <div fxLayout="column" fxFlex>
        <mat-card>
          <mat-card-title>
            Edit Contact
          </mat-card-title>
          <mat-card-content>
            <div fxLayout="row" fxFlex="100%">
              <mat-form-field fxFlex>
                <input 
                  matInput
                  formControlName='first_name'
                  placeholder="First Name"
                  type="text">
              </mat-form-field>
              <mat-form-field fxFlex>
                <input 
                  matInput
                  formControlName='last_name'
                  placeholder="Last Name"
                  type="text">
              </mat-form-field>
            </div>
            <div fxLayout="row" fxFlex="100%">
              <mat-form-field fxFlex>
                <input 
                  matInput
                  formControlName='email_addr'
                  placeholder="Email Address"
                  type="text">
              </mat-form-field>
            </div>
           </mat-card-content>
         </mat-card>
      </div>
    </form>
    </div>
    </div>
    <div fxLayoutAlign="center center">
        <button 
          (click)='onSubmit()'
          [disabled]="!form.valid"
          mat-raised-button 
          color="primary">Update Record
        </button>
  </div>
 