<div class="content"> 
  <div *ngIf='contacts' [@fadeIn]="contacts.length"  fxLayout="row wrap" class="list">
    <mat-card *ngFor='let contact of contacts' class="contact" fxFlex="50%" fxLayoutGap="0px">
      <div fxLayout='column' fxLayoutAlign="center center">
          <div class="lines">
            <h2>{{contact.first_name}}</h2>
            <h3>{{contact.last_name}}</h3>
            <p><span class="company">Email:</span> {{contact.email_addr}}</p> 
          </div>
        <div class="button-bar">
          <button mat-raised-button (click)="editRecord(contact)">Edit</button>
          <button mat-raised-button (click)="deleteRecord(contact)">Delete</button>
        </div>
      </div>
    </mat-card> 
  </div>
</div>
<div fxLayoutAlign="center center">
    <button mat-raised-button color="primary" (click)="createRecord()">Create Record</button>
</div>
